@()

<div data-role="footer" data-theme="a" id="page-footer" data-position="fixed">
<div class="ui-grid-b">

<div class="ui-block-a" id="footer-a">
<span><img class='page-footer-svg' src='@routes.Assets.at("images/twitter.svg")'/> and IRC: #onceness</span>
</div>	<!-- end ui-block-a -->

<div class="ui-block-b" id="footer-b">
<div id="copyright-text">&copy; 2015 - onceness.com</div>
</div>	<!-- end ui-block-b -->

<div class="ui-block-c" id="footer-c">
<span><img id="bitcoin-image" src='@routes.Assets.at("images/bitcoinLogo.svg")'></span>
<span id="bitcoin-address">1HLtAQxvEWUuUGNPSzB9dNuhQfG85mbtTA</span>
</div>	<!-- end ui-block-c -->

</div>	<!-- end ui-grid-b -->
</div><!-- end footer -->
